@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="w3-code notranslate cssHigh">
        <span style="color:brown">
            Welcome to Employee Management System
        </span>
    </div>
</div>

